<%= @grid = $board1.print_board %>



<div>
  <form action="/fire" method="post">
    Where would you like to fire?
    <input type="text" name="fire_position" autofocus; required>
     <input type="submit" value="Fire!">
  </form>
<div>
