<div style='border: 3px dashed red'>
  <% if @visitor %>
    Hello, <%= @visitor %> are you ready to play Battleships? 
  <% else %>
    <form action='/newgame'>
      My name is <%= @name %>.
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% end %>
  <img src='https://upload.wikimedia.org/wikipedia/commons/7/7d/Peresvet1901.jpg'>
</div>
